<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About Talkdelta</h1>
<p>Talkdelta is India’s one of the fastest-growing derivative market solutions providers. Talkdelta has gained a great pace and proudly providing solutions to more than 70 brokers and over 6000 traders; the number is increasing every day. Talkdelta has made its name for trust and 100% customer satisfaction by continuously upgrading technology and services as per requirements received from brokers and traders. Talkdelta has developed a range of solutions backed by over 15 years of derivative market experience.</p>
</body>
</html>