<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Text Utility World!!!</h1>
<form action="analyze" method="get">
<textarea name="text" style="width: 747px; height: 279px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations <br>
    <input type="checkbox" name="uppercase">UPPER CASE <br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="newliner">Remove New Line <br>
    <input type="checkbox" name="charcount">Char Count <br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>